.a-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;

  &-6 {
    height: rem(6);
    width: rem(6);
  }

  &-8 {
    height: rem(8);
    width: rem(8);
  }

  &-10 {
    height: rem(10);
    width: rem(10);
  }

  &-12 {
    height: rem(12);
    width: rem(12);
  }

  &-14 {
    height: rem(14);
    width: rem(14);
  }

  &-16 {
    height: rem(16);
    width: rem(16);
  }

  &-18 {
    height: rem(18);
    width: rem(18);
  }

  &-24 {
    height: rem(24);
    width: rem(24);
  }

  &-32 {
    height: rem(32);
    width: rem(32);
  }

  &-80 {
    height: rem(80);
    width: rem(80);
  }

  &-plus {
    background-image: url("~assets/icons/ic_plus.svg");
  }

  &-minus {
    background-image: url("~assets/icons/ic_minus.svg");
  }

  &-upload {
    background-image: url("~assets/icons/ic_upload.svg");
  }
}
