$white: rgb(255, 255, 255); // #ffffff
$black: rgb(0, 0, 0); // #000000
$platinum: rgb(222, 224, 234); // #dee0ea
$isabelline: rgb(237, 237, 237); //#ededed
$dark-gray-x11: rgb(166, 166, 166); //#a6a6a6
$denim: rgb(16, 110, 193); //#106ec1

// Overlay
$white-05: rgba($white, 0.5);

$standard-viewport: 1600px;
