.p-home {
  &__header {
    display: flex;

    .a-button {
      margin-left: auto;
      width: fit-content;
    }
  }
  &__title {
    text-align: center;
    font-weight: 600;
    @include font-base(20, 40);
  }
  &__list {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin: rem(24) rem(-8) rem(-8) rem(-8);

    &__item {
      flex-basis: calc(25% - 16px);
      padding: rem(8);

      @include tablet-down {
        flex-basis: calc(100% / 3 - 16px);
      }

      @include mobile-down {
        flex-basis: calc(100% - 16px);
      }
    }

    &__empty {
      width: 100%;
      text-align: center;
      font-weight: 600;
      @include font-base(14, 18);
    }

    &__loading {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}
