.m-employeeCard {
    cursor: pointer;
    transition: box-shadow 0.25s ease-in-out;
    border-radius: 0.5rem;
    overflow: hidden;
    &__info {
        padding: 1rem;
        background-color: whitesmoke;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }

    &:hover {
        box-shadow: 0px 7px 12px -5px rgba(153, 153, 153, 1);
        -webkit-box-shadow: 0px 7px 12px -5px rgba(153, 153, 153, 1);
        -moz-box-shadow: 0px 7px 12px -5px rgba(153, 153, 153, 1);
    }
}