.a-button {
  border-radius: rem(8);
  background-color: $denim !important;
  padding: rem(10) rem(36);
  color: $white;
  font-size: rem(16);
  line-height: rem(17);
  font-style: normal;
  font-weight: 700;
  width: 100%;
  letter-spacing: 0.8px;
  height: rem(40) !important;
  outline: none;
  border: 1px solid $denim;
  cursor: pointer;

  &:disabled {
    background: $platinum;
    color: $white-05;
  }

  &-danger {
    background-color: #ed1818 !important;
    border-color: #ed1818 !important;
  }

  &-success {
    background-color: #399b3b !important;
    border-color: #399b3b !important;
  }

  &-uppercase {
    text-transform: uppercase !important;
  }

  &-lowercase {
    text-transform: lowercase !important;
  }

  &-md {
    height: rem(44) !important;
  }

  &-lg {
    height: rem(48) !important;
  }
}
