.t-mainLayout {
  &__header {
    background-color: #4372c2;
    padding: 1.5rem 0;
  }
  &__title {
    text-align: center;
    font-weight: 600;
    color: $white;
    @include font-base(32, 32);
  }

  &__body {
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: calc(100vh - 5rem);
    overflow-y: scroll;
    box-sizing: border-box;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}
