.p-detail {
  $root: &;

  &__title {
    text-align: center;
    font-weight: 600;
    @include font-base(20, 24);
  }

  &__inputWrapper {
    font-weight: 600;
    @include font-base(14, 24);

    margin-top: 0.75rem;
    &__inner {
      height: rem(38);
      width: 100%;
      border: 1px solid hsl(0, 0%, 80%);
      padding: 0 rem(8);
      box-sizing: border-box;
    }
  }

  &__positionForm,
  &__languageForm {
    position: relative;
    border-radius: 0.5rem;
  }

  &__positionForm {
    background-color: whitesmoke;
    padding: 0.75rem;
    margin-top: 1rem;

    #{$root}__inputWrapper {
      &:first-child {
        margin-top: 0;
      }
    }

    &__remove {
      cursor: pointer;
      position: absolute;
      width: 1rem;
      height: 1rem;
      top: 0;
      right: 0;
      transform: translate(-50%, 25%);
    }
  }

  &__languageForm {
    background-color: rgba(235, 230, 230, 0.556);
    padding: 0.75rem;
    margin-top: 1rem;

    &:first-child {
      margin-top: 0;
    }
  }

  &__addingBtn {
    margin-top: rem(16);
    .a-button {
      max-width: fit-content;
    }
  }

  &__uploadWrapper {
    &__area {
      width: 100%;
      height: 6.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px dashed rgba(44, 42, 42, 0.5);
      cursor: pointer;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      margin-top: 1rem;
      margin: 0.5rem -0.5rem -0.5rem -0.5rem;
    }

    &__item {
      padding: 0.5rem;
      flex-basis: 20%;

      &__inner {
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: whitesmoke;
        border-radius: 0.5rem;
        height: 100%;

        img {
          object-fit: contain;
        }

        &__btn {
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer;
          width: 0.75rem;
          height: 0.75rem;
          transform: translate(25%, -25%);
          transition: filter 0.25s ease-in-out;

          &:hover {
            filter: drop-shadow(0 0 2px red);
          }
        }
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;

    &__left,
    &__right {
      flex-basis: calc(50% - 1rem);
      .a-button {
        max-width: fit-content;
      }
    }

    &__right {
      display: flex;
      justify-content: flex-end;

      .a-button {
        &:first-child {
          margin-right: 1rem;
        }
      }
    }
  }

  &__textarea {
    width: 100%;
    border: 1px solid hsl(0, 0%, 80%);
    padding: rem(8);
    box-sizing: border-box;
  }

  &__error {
    color: #ff0000;
    @include font-base(10, 18);
  }

  p {
    margin-top: 0;
  }
}
