.o-container {
    $root: &;
    margin-left: auto;
    margin-right: auto;
    max-width: rem(1126);

    @include break-min($standard-viewport) {
        max-width: $standard-viewport;
    }
    &:not(#{$root}-fullScreen) {
        padding-left: rem(120);
        padding-right: rem(120);

        @include tablet-down {
            padding-left: rem(40);
            padding-right: rem(40);
        }

        @include mobile-down {
            padding-left: rem(16);
            padding-right: rem(16);
        }
    }

    &-fullScreen {
        max-width: 100%;
        margin-right: unset;
        margin-left: unset;
    }
}
